/* Minimal CSS to demonstrate functionality - not trying to recreate design pixel perfect */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.discussion {
    width: 70%;
    margin: auto;
}

/* Primary comment box */

.primary {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.primary .thumbnail {
    display:inline-block;
    height:inherit;
    border-radius:25px;
}

.primary form {
    display:inline-block;
    vertical-align: middle;
    height: inherit;
    margin-left: 20px;
}

/* Inputs */

fieldset {
    border: 0;
    margin:0; padding:0;
}

input.body {
    border-width: 1px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    padding: 8px 14px 8px 14px;
    border-color:#f2f2f2;
    border-style:solid;
}

input.body:focus {
    border-color:#8f8f8f;
    outline:none;
}

input.post {
    background-color: rgb(121, 76, 239);
    padding: 10px 14px 10px 14px;
    border: 0;
    margin: 5px;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
}

input.post:hover {
    background-color: rgb(157, 126, 236);
    cursor: pointer;
}

input.upvote, input.reply {
    background-color: white;
    padding: 10px 14px 10px 14px;
    border: 0;
    margin: 5px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
}

input.upvote:hover, input.reply:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}


/* Comment threads */

.comment {
    margin-top: 20px;
}

.comment .title {
    height: 40px;
}

.comment .title span {
    display: inline-block;
    vertical-align:middle;
    height: inherit;
}


.comment .title .from {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;

}

.comment .title .created {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(56, 56, 56)
}

.comment .title .thumbnail {
    height: inherit;
    border-radius: 20px;
}

.comment .body {
    padding: 10px;
    font-size: 14px;
}

